.counter-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: auto;
    text-align: center;
  
    h1 {
      color: #333;
    }
  }

  .counter-display {
    font-size: 48px;
    margin: 24px 0;
    padding: 16px;
    background-color: #f8f9fa;
    border-radius: 8px;
    transition: all 0.3s ease;
  }


.button-group {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 32px;
    cursor: pointer;
  }

  .history-section {
    margin-top: 32px;
    text-align: left;
  
    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 16px;
  
      li {
        
        padding: 10px;
        border-bottom: 1px solid #eee;
  
        &:nth-child(odd) {
          background-color: #f8f9fa;
        }
      }
    }
  }

  .clearhis{
    color: white;
    background: black;
    border-radius: 9px;
  }